<div class="categories">
  <div class="container">
    <div class="categories__wrapper categories__brands">
      <div class="categories__section">
        <ul class="categories__brands-list">
          <li>
            <a href="#">
              <img src="img/1.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/2.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/3.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/4.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/5.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/6.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/7.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/8.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/1.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/2.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/3.png" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/4.png" alt="">
            </a>
          </li>

        </ul>
      </div>
      <div class="categories__section">
        <ul class="categories__nav">
          <li>
            <a href="categories-list.html" class="categories__nav-link categories__nav-link--active">
              Подбор шин
            </a>
          </li>
          <li>
            <a href="#" class="categories__nav-link">
              Каталог шин
            </a>
          </li>
          <li>
            <a href="#" class="categories__nav-link">
              Калькулятор шин и дисков
            </a>
          </li>
          <li>
            <a href="#" class="categories__nav-link">
              Тесты шин
            </a>
          </li>
        </ul>
        <div class="categories__banner">
          <img src="img/banner540x760.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
