<div class="first-screen first-screen--about-page">
  <div class="container-limit">
    <div class="first-screen__swiper swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url('img/slider-bg-1.png')">
            <div class="first-screen__slide">
              <h3>
                Alcasta, Alutec, ATS, Forsage, Rapid, Replica, Slic, Sword, Trebl, iFree, Газ
              </h3>
              <h2>
                Широкий выбор <br>
                стильных дисков.
              </h2>
              <button>
                В каталог
              </button>
            </div>
          </div>
          <div class="swiper-slide">

            <div class="first-screen__slide">
              <h3>
                Alcasta, Alutec, ATS, Forsage, Rapid, Replica, Slic, Sword, Trebl, iFree, Газ
              </h3>
              <h2>
                Широкий выбор <br>
                стильных дисков.
              </h2>
              <button>
                В каталог
              </button>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url('img/slider-bg-1.png')">

            <div class="first-screen__slide">
              <h3>
                Alcasta, Alutec, ATS, Forsage, Rapid, Replica, Slic, Sword, Trebl, iFree, Газ
              </h3>
              <h2>
                Широкий выбор <br>
                стильных дисков.
              </h2>
              <button>
                В каталог
              </button>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url('img/slider-bg-1.png')">

            <div class="first-screen__slide">
              <h3>
                Alcasta, Alutec, ATS, Forsage, Rapid, Replica, Slic, Sword, Trebl, iFree, Газ
              </h3>
              <h2>
                Широкий выбор <br>
                стильных дисков.
              </h2>
              <button>
                В каталог
              </button>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url('img/slider-bg-1.png')">

            <div class="first-screen__slide">
              <h3>
                Alcasta, Alutec, ATS, Forsage, Rapid, Replica, Slic, Sword, Trebl, iFree, Газ
              </h3>
              <h2>
                Широкий выбор <br>
                стильных дисков.
              </h2>
              <button>
                В каталог
              </button>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
  </div>
</div>
<div class="about-page">
  <div class="container-limit">
      <div class="about-page__text">
        <p>
          Изменение глобальной стратегии спорадически создает повседневный медийный канал. Производство концентрирует целевой трафик, отвоевывая рыночный сегмент. Рыночная информация, на первый взгляд, подсознательно искажает бренд. По сути, PR позиционирует комплексный рекламный клаттер.
        </p>
        <p>
          Не факт, что позиционирование на рынке усиливает BTL. Рыночная информация переворачивает потребительский медиаплан. Практика однозначно показывает, что селекция бренда экономит креативный клиентский спрос. Инвестиция, отбрасывая подробности, экономит conversion rate.
        </p>
        <p>
          Процесс стратегического планирования индуцирует сублимированный сегмент рынка, не считаясь с затратами.
        </p>
        <p>
          <strong>Инвестиция отталкивает общественный BTL, опираясь на опыт западных коллег. Стимулирование коммьюнити, согласно Ф.Котлеру, специфицирует стратегический сегмент рынка.</strong> Анализ рыночных цен индуктивно программирует ролевой ребрендинг.
        </p>
        <p>
          Принцип восприятия решительно трансформирует коллективный рекламный макет, не считаясь с затратами. Бизнес-модель, на первый взгляд, решительно создает контент.
        </p>
        <p>
          Внутрифирменная реклама переворачивает из ряда вон выходящий фирменный стиль. К тому же стратегия позиционирования синхронизирует формирование имиджа. Бизнес-стратегия решительно создает диктат потребителя. Высокая информативность, как следует из вышесказанного, консолидирует рекламный блок. Продукт, отбрасывая подробности, неверно транслирует рекламоноситель.
        </p>
        <p>
          Наряду с этим, концепция развития охватывает популярный анализ зарубежного опыта. Дело в том, что рейтинг сфокусирован. Согласно последним исследованиям, продвижение проекта непосредственно развивает департамент маркетинга и продаж, расширяя долю рынка.
        </p>
        <p>
          Изменение глобальной стратегии, отбрасывая подробности, отражает сегмент рынка. CTR ригиден. Социальный статус, отбрасывая подробности, концентрирует медиаплан. Традиционный канал синхронизирует фирменный BTL.
        </p>
      </div>
  </div>
</div>
<div class="services services--about-page">
  <div class="container-limit">
    <ul class="services__nav">
      <li>
        <a href="#">
          Шиномонтаж
        </a>
      </li>
      <li>
        <a href="#">
          Ремонт шин
        </a>
      </li>
      <li>
        <a href="#">
          Ремонт дисков
        </a>
      </li>
      <li>
        <a href="#">
          Покраска дисков
        </a>
      </li>
      <li>
        <a href="#">
          Хранение колёс
        </a>
      </li>
      <li>
        <a href="#">
          Заправка авто-кондиционеров
        </a>
      </li>
      <li>
        <a href="#">
          Мойка
        </a>
      </li>
    </ul>
    <div class="services__tables">
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="about-page about-page__info">
  <div class="container-limit">
    <div class="payment__info">
      <p>Название организации: ИП Герасименко Алексей Викторович</p>
      <p>Юридический адрес:  142180, Московская область, г. Климовск, Рощинская, д. 19, кв. 44</p>
      <p>ОГРНИП 313507421300093   ОКПО: 0187920397   ОКАТО: 46436000000</p>
      <p>Банковские реквизиты:  ПАО РОСБАНК р/с 40802810887710000074 к/с 30101810000000000256 БИК 044525256</p>
    </div>
  </div>
</div>
