<div class="services">
  <div class="container-limit">
    <ul class="services__nav">
      <li>
        <a href="#">
          Шиномонтаж
        </a>
      </li>
      <li>
        <a href="#">
          Ремонт шин
        </a>
      </li>
      <li>
        <a href="#">
          Ремонт дисков
        </a>
      </li>
      <li>
        <a href="#">
          Покраска дисков
        </a>
      </li>
      <li>
        <a href="#">
          Хранение колёс
        </a>
      </li>
      <li>
        <a href="#">
          Заправка авто-кондиционеров
        </a>
      </li>
      <li>
        <a href="#">
          Мойка
        </a>
      </li>
    </ul>
    <div class="services__tables">
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
      <div class="services__table table">
        <div class="table__header">
          <h3>
            Ремонтные работы и дополнительные услуги
          </h3>
        </div>
        <ul class="table__content">
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём горячей вулканизации
            </span>
            <span>
              от 1500 ₽ (в зависимости от сложности работ)
            </span>
          </li>
          <li>
            <span>
              Ремонт камеры
            </span>
            <span>
              200,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом без снятия с автомобиля
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт колеса жгутом со снятием с автомобиля
            </span>
            <span>
              500,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" обычных
            </span>
            <span>
              300,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "грибков"
            </span>
            <span>
              700,00 ₽
            </span>
          </li>
          <li>
            <span>
              Ремонт покрышки путём холодной вулканизации, установка "латок" кордовых
            </span>
            <span>
              размер латки до 18 - 700 ₽, размер латки 18-19 - 1000 ₽, размер латки 20 и выше - 1200 ₽
            </span>
          </li>
          <li>
            <span>
              Замена вентиля бескамерного
            </span>
            <span>
              100,00р.
            </span>
          </li>
          <li>
            <span>
              Сухая чистка колеса
            </span>
            <span>
              25,00р.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
