
  {% include "pages/components/_header.html" %}
  <main>
    {% include "pages/components/_first-screen.html" %}
    {% include "pages/components/_partners-slider.html" %}
    {% include "pages/components/_selection.html" %}
    {% include "pages/components/_goods.html" %}
    {% include "pages/components/_qualities.html" %}
    {% include "pages/components/_banner.html" %}
    {% include "pages/components/_news.html" %}
    {% include "pages/components/_about.html" %}
    {% include "pages/components/_contacts.html" %}
  </main>
  {% include "pages/components/_footer.html" %}
  {% include "pages/components/_button-up.html" %}
