<div class="bread-crumbs">
  <div class="container">
    <div class="bread-crumbs__wrapper">
      <div class="bread-crumbs--left-side">
        <div class="bread-crumbs__crumbs">
          <span>
            <a href="#">
              Главная
            </a>
          </span>
              <span>
            <a href="#">
              Автошины
            </a>
          </span>
              <span>
             Шины Continental
          </span>
        </div>
        <h2 class="bread-crumbs__title">
          Шины Continental
        </h2>
      </div>
      <div class="bread-crumbs--right-side">
        <div class="bread-crumbs__selects">
          <div class="select-drop-down" id="size">
            <span class="select-drop-down__title">Выводить по</span>
            <span class="select-drop-down__input">20</span>
            <div class="select-drop-down__list">
              <ul>
                <li>
                  <a href="#">10</a>
                </li>
                <li >
                  <a href="#">20</a>
                </li>
                <li>
                  <a href="#">30</a>
                </li>
                <li>
                  <a href="#">40</a>
                </li>
                <li>
                  <a href="#">50</a>
                </li>
                <li>
                  <a href="#">60</a>
                </li>
              </ul>
              <button class="select-drop-down__close-btn">
                Закрыть
              </button>
            </div>
          </div>
          <div class="select-drop-down" id="tags">
            <span class="select-drop-down__title">Сортировка</span>
            <span class="select-drop-down__input">Акция, Хит</span>
            <div class="select-drop-down__list">
              <ul>
                <li>
                  <a href="#">Акция</a>
                </li>
                <li >
                  <a href="#">Хит</a>
                </li>
                <li>
                  <a href="#">Новинка</a>
                </li>
                <li>
                  <a href="#">Новинка 2</a>
                </li>
                <li>
                  <a href="#">Новинка 3</a>
                </li>
                <li>
                  <a href="#">Новинка 4</a>
                </li>
                <li>
                  <a href="#">Новинка 5</a>
                </li>
                <li>
                  <a href="#">Новинка 6</a>
                </li>
                <li>
                  <a href="#">Новинка 7</a>
                </li>
              </ul>
              <button class="select-drop-down__close-btn">
                Закрыть
              </button>
              <button  class="select-drop-down__reset-btn">
                Очистить
              </button>
            </div>
          </div>
        </div>
        <div class="bread-crumbs__view">
          <button id="menu-grid" class="active">
            {{mixins.icon('menu-grid')}}
          </button>
          <button id="menu-list">
            {{mixins.icon('menu-list')}}
          </button>
        </div>
      </div>


    </div>

  </div>
</div>

