<div class="categories">
  <div class="container">
    <div class="categories__panel select-panel">
      <div class="select-panel__block">
        <div class="search-form__elem select-panel__elem">
          <label for="rimWidth" class="search-form__title select-panel__title">
            Ширина обода
          </label>
          <input type="text" id="rimWidth" name="Ширина шин" class="search-form__result select-panel__result" readonly autocomplete="off">
          <ul class="search-form__list select-panel__list">
            <li>
              <a href="#">
                5,0
              </a>
            </li>
            <li>
              <a href="#">
                5,5
              </a>
            </li>
            <li>
              <a href="#">
                6,0
              </a>
            </li>
            <li>
              <a href="#">
                6,5
              </a>
            </li>
            <li>
              <a href="#">
                7,0
              </a>
            </li>
            <li>
              <a href="#">
                7,5
              </a>
            </li>
            <li>
              <a href="#">
                8,0
              </a>
            </li>
            <li>
              <a href="#">
                8,5
              </a>
            </li>
            <li>
              <a href="#">
                9,0
              </a>
            </li>
          </ul>
        </div>
        <div class="search-form__elem select-panel__elem">
          <label for="diameter" class="search-form__title select-panel__title">
            Диаметр
          </label>
          <input type="text" id="diameter" name="Ширина шин" class="search-form__result select-panel__result" readonly autocomplete="off">
          <ul class="search-form__list select-panel__list">
            <li>
              <a href="#">
                5,0
              </a>
            </li>
            <li>
              <a href="#">
                5,5
              </a>
            </li>
            <li>
              <a href="#">
                6,0
              </a>
            </li>
            <li>
              <a href="#">
                6,5
              </a>
            </li>
            <li>
              <a href="#">
                7,0
              </a>
            </li>
            <li>
              <a href="#">
                7,5
              </a>
            </li>
            <li>
              <a href="#">
                8,0
              </a>
            </li>
            <li>
              <a href="#">
                8,5
              </a>
            </li>
            <li>
              <a href="#">
                9,0
              </a>
            </li>
          </ul>
        </div>
        <div class="search-form__elem select-panel__elem">
          <label for="numberOfMountingHoles" class="search-form__title select-panel__title">
            Кол-во крепёжных отверстий
          </label>
          <input type="text" id="numberOfMountingHoles" name="Ширина шин" class="search-form__result select-panel__result" readonly autocomplete="off">
          <ul class="search-form__list select-panel__list">
            <li>
              <a href="#">
                5,0
              </a>
            </li>
            <li>
              <a href="#">
                5,5
              </a>
            </li>
            <li>
              <a href="#">
                6,0
              </a>
            </li>
            <li>
              <a href="#">
                6,5
              </a>
            </li>
            <li>
              <a href="#">
                7,0
              </a>
            </li>
            <li>
              <a href="#">
                7,5
              </a>
            </li>
            <li>
              <a href="#">
                8,0
              </a>
            </li>
            <li>
              <a href="#">
                8,5
              </a>
            </li>
            <li>
              <a href="#">
                9,0
              </a>
            </li>
          </ul>
        </div>
        <div class="search-form__elem select-panel__elem">
          <label for="holeDiameter" class="search-form__title select-panel__title">
            Диаметр расположения отверстий
          </label>
          <input type="text" id="holeDiameter" name="Ширина шин" class="search-form__result select-panel__result" readonly autocomplete="off">
          <ul class="search-form__list select-panel__list">
            <li>
              <a href="#">
                5,0
              </a>
            </li>
            <li>
              <a href="#">
                5,5
              </a>
            </li>
            <li>
              <a href="#">
                6,0
              </a>
            </li>
            <li>
              <a href="#">
                6,5
              </a>
            </li>
            <li>
              <a href="#">
                7,0
              </a>
            </li>
            <li>
              <a href="#">
                7,5
              </a>
            </li>
            <li>
              <a href="#">
                8,0
              </a>
            </li>
            <li>
              <a href="#">
                8,5
              </a>
            </li>
            <li>
              <a href="#">
                9,0
              </a>
            </li>
          </ul>
        </div>
        <div class="search-form__elem select-panel__elem">
          <label for="diameterCenterHoles" class="search-form__title select-panel__title">
            Диаметр центр. отверстия
          </label>
          <input type="text" id="diameterCenterHoles" name="Ширина шин" class="search-form__result select-panel__result" readonly autocomplete="off">
          <ul class="search-form__list select-panel__list">
            <li>
              <a href="#">
                5,0
              </a>
            </li>
            <li>
              <a href="#">
                5,5
              </a>
            </li>
            <li>
              <a href="#">
                6,0
              </a>
            </li>
            <li>
              <a href="#">
                6,5
              </a>
            </li>
            <li>
              <a href="#">
                7,0
              </a>
            </li>
            <li>
              <a href="#">
                7,5
              </a>
            </li>
            <li>
              <a href="#">
                8,0
              </a>
            </li>
            <li>
              <a href="#">
                8,5
              </a>
            </li>
            <li>
              <a href="#">
                9,0
              </a>
            </li>
          </ul>
        </div>
        <div class="search-form__elem select-panel__elem">
          <label for="departure" class="search-form__title select-panel__title">
            Вылет (E,T)
          </label>
          <input type="text" id="departure" name="Ширина шин" class="search-form__result select-panel__result" readonly autocomplete="off">
          <ul class="search-form__list select-panel__list">
            <li>
              <a href="#">
                5,0
              </a>
            </li>
            <li>
              <a href="#">
                5,5
              </a>
            </li>
            <li>
              <a href="#">
                6,0
              </a>
            </li>
            <li>
              <a href="#">
                6,5
              </a>
            </li>
            <li>
              <a href="#">
                7,0
              </a>
            </li>
            <li>
              <a href="#">
                7,5
              </a>
            </li>
            <li>
              <a href="#">
                8,0
              </a>
            </li>
            <li>
              <a href="#">
                8,5
              </a>
            </li>
            <li>
              <a href="#">
                9,0
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="select-panel__block">
        <button class="select-panel__more">
          •••
        </button>
      </div>
    </div>
    <div class="categories__wrapper">
      <div class="categories__section">
        <div class="categories__cards">
          <div class="categories__card product-card">
            <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
            </div>
            <div class="product-card__image">
              <div class="product-card__icons-wrapper">
                <div class="product-card__icons product-card__icons--top">
                  <a href="#" class="product-card__icon product-card__icon--heart">
                    {{mixins.icon('heart')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--comparing">
                    {{mixins.icon('comparing')}}
                  </a>
                </div>
                <div class="product-card__icons product-card__icons--bottom">
                  <a href="#" class="product-card__icon product-card__icon--studded">
                    {{mixins.icon('studded')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--snowflake">
                    {{mixins.icon('snowflake')}}
                  </a>
                </div>
              </div>
              <img src="img/product-img.png" alt="">
            </div>
            <div class="product-card__info">
              <div class="product-card__vendor-code">
                Арт: 564902
              </div>
              <div class="product-card__rating">
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star"></span>
                <span class="product-card__star"></span>
              </div>
            </div>
            <div class="product-card__name">
              Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
            </div>
            <div class="product-card__price-wrapper">
              <div class="product-card__price">
                4 900 ₽ / шт.
              </div>
              <div class="product-card__price product-card__price--old">
                5 450 ₽ / шт.
              </div>
            </div>
            <div class="product-card__buttons">
              <div class="product-card__num-block">
                <button class="product-card__minus">-</button>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                <button class="product-card__plus">+</button>
              </div>
              <button class="product-card__to-cart button button--send">
                В корзину
              </button>
            </div>
          </div>
          <div class="categories__card product-card">
            <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
            </div>
            <div class="product-card__image">
              <div class="product-card__icons-wrapper">
                <div class="product-card__icons product-card__icons--top">
                  <a href="#" class="product-card__icon product-card__icon--heart">
                    {{mixins.icon('heart')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--comparing">
                    {{mixins.icon('comparing')}}
                  </a>
                </div>
                <div class="product-card__icons product-card__icons--bottom">
                  <a href="#" class="product-card__icon product-card__icon--studded">
                    {{mixins.icon('studded')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--snowflake">
                    {{mixins.icon('snowflake')}}
                  </a>
                </div>
              </div>
              <img src="img/product-img.png" alt="">
            </div>
            <div class="product-card__info">
              <div class="product-card__vendor-code">
                Арт: 564902
              </div>
              <div class="product-card__rating">
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star"></span>
                <span class="product-card__star"></span>
              </div>
            </div>
            <div class="product-card__name">
              Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
            </div>
            <div class="product-card__price-wrapper">
              <div class="product-card__price">
                4 900 ₽ / шт.
              </div>
              <div class="product-card__price product-card__price--old">
                5 450 ₽ / шт.
              </div>
            </div>
            <div class="product-card__buttons">
              <div class="product-card__num-block">
                <button class="product-card__minus">-</button>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                <button class="product-card__plus">+</button>
              </div>
              <button class="product-card__to-cart button button--send">
                В корзину
              </button>
            </div>
          </div>
          <div class="categories__card product-card">
            <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
            </div>
            <div class="product-card__image">
              <div class="product-card__icons-wrapper">
                <div class="product-card__icons product-card__icons--top">
                  <a href="#" class="product-card__icon product-card__icon--heart">
                    {{mixins.icon('heart')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--comparing">
                    {{mixins.icon('comparing')}}
                  </a>
                </div>
                <div class="product-card__icons product-card__icons--bottom">
                  <a href="#" class="product-card__icon product-card__icon--studded">
                    {{mixins.icon('studded')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--snowflake">
                    {{mixins.icon('snowflake')}}
                  </a>
                </div>
              </div>
              <img src="img/product-img.png" alt="">
            </div>
            <div class="product-card__info">
              <div class="product-card__vendor-code">
                Арт: 564902
              </div>
              <div class="product-card__rating">
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star"></span>
                <span class="product-card__star"></span>
              </div>
            </div>
            <div class="product-card__name">
              Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
            </div>
            <div class="product-card__price-wrapper">
              <div class="product-card__price">
                4 900 ₽ / шт.
              </div>
              <div class="product-card__price product-card__price--old">
                5 450 ₽ / шт.
              </div>
            </div>
            <div class="product-card__buttons">
              <div class="product-card__num-block">
                <button class="product-card__minus">-</button>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                <button class="product-card__plus">+</button>
              </div>
              <button class="product-card__to-cart button button--send">
                В корзину
              </button>
            </div>
          </div>
          <div class="categories__card product-card">
            <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
            </div>
            <div class="product-card__image">
              <div class="product-card__icons-wrapper">
                <div class="product-card__icons product-card__icons--top">
                  <a href="#" class="product-card__icon product-card__icon--heart">
                    {{mixins.icon('heart')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--comparing">
                    {{mixins.icon('comparing')}}
                  </a>
                </div>
                <div class="product-card__icons product-card__icons--bottom">
                  <a href="#" class="product-card__icon product-card__icon--studded">
                    {{mixins.icon('studded')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--snowflake">
                    {{mixins.icon('snowflake')}}
                  </a>
                </div>
              </div>
              <img src="img/product-img.png" alt="">
            </div>
            <div class="product-card__info">
              <div class="product-card__vendor-code">
                Арт: 564902
              </div>
              <div class="product-card__rating">
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star"></span>
                <span class="product-card__star"></span>
              </div>
            </div>
            <div class="product-card__name">
              Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
            </div>
            <div class="product-card__price-wrapper">
              <div class="product-card__price">
                4 900 ₽ / шт.
              </div>
              <div class="product-card__price product-card__price--old">
                5 450 ₽ / шт.
              </div>
            </div>
            <div class="product-card__buttons">
              <div class="product-card__num-block">
                <button class="product-card__minus">-</button>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                <button class="product-card__plus">+</button>
              </div>
              <button class="product-card__to-cart button button--send">
                В корзину
              </button>
            </div>
          </div>
          <div class="categories__card product-card">
            <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
            </div>
            <div class="product-card__image">
              <div class="product-card__icons-wrapper">
                <div class="product-card__icons product-card__icons--top">
                  <a href="#" class="product-card__icon product-card__icon--heart">
                    {{mixins.icon('heart')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--comparing">
                    {{mixins.icon('comparing')}}
                  </a>
                </div>
                <div class="product-card__icons product-card__icons--bottom">
                  <a href="#" class="product-card__icon product-card__icon--studded">
                    {{mixins.icon('studded')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--snowflake">
                    {{mixins.icon('snowflake')}}
                  </a>
                </div>
              </div>
              <img src="img/product-img.png" alt="">
            </div>
            <div class="product-card__info">
              <div class="product-card__vendor-code">
                Арт: 564902
              </div>
              <div class="product-card__rating">
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star"></span>
                <span class="product-card__star"></span>
              </div>
            </div>
            <div class="product-card__name">
              Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
            </div>
            <div class="product-card__price-wrapper">
              <div class="product-card__price">
                4 900 ₽ / шт.
              </div>
              <div class="product-card__price product-card__price--old">
                5 450 ₽ / шт.
              </div>
            </div>
            <div class="product-card__buttons">
              <div class="product-card__num-block">
                <button class="product-card__minus">-</button>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                <button class="product-card__plus">+</button>
              </div>
              <button class="product-card__to-cart button button--send">
                В корзину
              </button>
            </div>
          </div>
          <div class="categories__card product-card">
            <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
            </div>
            <div class="product-card__image">
              <div class="product-card__icons-wrapper">
                <div class="product-card__icons product-card__icons--top">
                  <a href="#" class="product-card__icon product-card__icon--heart">
                    {{mixins.icon('heart')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--comparing">
                    {{mixins.icon('comparing')}}
                  </a>
                </div>
                <div class="product-card__icons product-card__icons--bottom">
                  <a href="#" class="product-card__icon product-card__icon--studded">
                    {{mixins.icon('studded')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--snowflake">
                    {{mixins.icon('snowflake')}}
                  </a>
                </div>
              </div>
              <img src="img/product-img.png" alt="">
            </div>
            <div class="product-card__info">
              <div class="product-card__vendor-code">
                Арт: 564902
              </div>
              <div class="product-card__rating">
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star"></span>
                <span class="product-card__star"></span>
              </div>
            </div>
            <div class="product-card__name">
              Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
            </div>
            <div class="product-card__price-wrapper">
              <div class="product-card__price">
                4 900 ₽ / шт.
              </div>
              <div class="product-card__price product-card__price--old">
                5 450 ₽ / шт.
              </div>
            </div>
            <div class="product-card__buttons">
              <div class="product-card__num-block">
                <button class="product-card__minus">-</button>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                <button class="product-card__plus">+</button>
              </div>
              <button class="product-card__to-cart button button--send">
                В корзину
              </button>
            </div>
          </div>
          <div class="categories__card product-card">
            <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
            </div>
            <div class="product-card__image">
              <div class="product-card__icons-wrapper">
                <div class="product-card__icons product-card__icons--top">
                  <a href="#" class="product-card__icon product-card__icon--heart">
                    {{mixins.icon('heart')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--comparing">
                    {{mixins.icon('comparing')}}
                  </a>
                </div>
                <div class="product-card__icons product-card__icons--bottom">
                  <a href="#" class="product-card__icon product-card__icon--studded">
                    {{mixins.icon('studded')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--snowflake">
                    {{mixins.icon('snowflake')}}
                  </a>
                </div>
              </div>
              <img src="img/product-img.png" alt="">
            </div>
            <div class="product-card__info">
              <div class="product-card__vendor-code">
                Арт: 564902
              </div>
              <div class="product-card__rating">
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star"></span>
                <span class="product-card__star"></span>
              </div>
            </div>
            <div class="product-card__name">
              Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
            </div>
            <div class="product-card__price-wrapper">
              <div class="product-card__price">
                4 900 ₽ / шт.
              </div>
              <div class="product-card__price product-card__price--old">
                5 450 ₽ / шт.
              </div>
            </div>
            <div class="product-card__buttons">
              <div class="product-card__num-block">
                <button class="product-card__minus">-</button>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                <button class="product-card__plus">+</button>
              </div>
              <button class="product-card__to-cart button button--send">
                В корзину
              </button>
            </div>
          </div>
          <div class="categories__card product-card">
            <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
            </div>
            <div class="product-card__image">
              <div class="product-card__icons-wrapper">
                <div class="product-card__icons product-card__icons--top">
                  <a href="#" class="product-card__icon product-card__icon--heart">
                    {{mixins.icon('heart')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--comparing">
                    {{mixins.icon('comparing')}}
                  </a>
                </div>
                <div class="product-card__icons product-card__icons--bottom">
                  <a href="#" class="product-card__icon product-card__icon--studded">
                    {{mixins.icon('studded')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--snowflake">
                    {{mixins.icon('snowflake')}}
                  </a>
                </div>
              </div>
              <img src="img/product-img.png" alt="">
            </div>
            <div class="product-card__info">
              <div class="product-card__vendor-code">
                Арт: 564902
              </div>
              <div class="product-card__rating">
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star"></span>
                <span class="product-card__star"></span>
              </div>
            </div>
            <div class="product-card__name">
              Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
            </div>
            <div class="product-card__price-wrapper">
              <div class="product-card__price">
                4 900 ₽ / шт.
              </div>
              <div class="product-card__price product-card__price--old">
                5 450 ₽ / шт.
              </div>
            </div>
            <div class="product-card__buttons">
              <div class="product-card__num-block">
                <button class="product-card__minus">-</button>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                <button class="product-card__plus">+</button>
              </div>
              <button class="product-card__to-cart button button--send">
                В корзину
              </button>
            </div>
          </div>
          <div class="categories__card product-card">
            <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
            </div>
            <div class="product-card__image">
              <div class="product-card__icons-wrapper">
                <div class="product-card__icons product-card__icons--top">
                  <a href="#" class="product-card__icon product-card__icon--heart">
                    {{mixins.icon('heart')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--comparing">
                    {{mixins.icon('comparing')}}
                  </a>
                </div>
                <div class="product-card__icons product-card__icons--bottom">
                  <a href="#" class="product-card__icon product-card__icon--studded">
                    {{mixins.icon('studded')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--snowflake">
                    {{mixins.icon('snowflake')}}
                  </a>
                </div>
              </div>
              <img src="img/product-img.png" alt="">
            </div>
            <div class="product-card__info">
              <div class="product-card__vendor-code">
                Арт: 564902
              </div>
              <div class="product-card__rating">
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star"></span>
                <span class="product-card__star"></span>
              </div>
            </div>
            <div class="product-card__name">
              Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
            </div>
            <div class="product-card__price-wrapper">
              <div class="product-card__price">
                4 900 ₽ / шт.
              </div>
              <div class="product-card__price product-card__price--old">
                5 450 ₽ / шт.
              </div>
            </div>
            <div class="product-card__buttons">
              <div class="product-card__num-block">
                <button class="product-card__minus">-</button>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                <button class="product-card__plus">+</button>
              </div>
              <button class="product-card__to-cart button button--send">
                В корзину
              </button>
            </div>
          </div>
          <div class="categories__card product-card">
            <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
            </div>
            <div class="product-card__image">
              <div class="product-card__icons-wrapper">
                <div class="product-card__icons product-card__icons--top">
                  <a href="#" class="product-card__icon product-card__icon--heart">
                    {{mixins.icon('heart')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--comparing">
                    {{mixins.icon('comparing')}}
                  </a>
                </div>
                <div class="product-card__icons product-card__icons--bottom">
                  <a href="#" class="product-card__icon product-card__icon--studded">
                    {{mixins.icon('studded')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--snowflake">
                    {{mixins.icon('snowflake')}}
                  </a>
                </div>
              </div>
              <img src="img/product-img.png" alt="">
            </div>
            <div class="product-card__info">
              <div class="product-card__vendor-code">
                Арт: 564902
              </div>
              <div class="product-card__rating">
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star"></span>
                <span class="product-card__star"></span>
              </div>
            </div>
            <div class="product-card__name">
              Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
            </div>
            <div class="product-card__price-wrapper">
              <div class="product-card__price">
                4 900 ₽ / шт.
              </div>
              <div class="product-card__price product-card__price--old">
                5 450 ₽ / шт.
              </div>
            </div>
            <div class="product-card__buttons">
              <div class="product-card__num-block">
                <button class="product-card__minus">-</button>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                <button class="product-card__plus">+</button>
              </div>
              <button class="product-card__to-cart button button--send">
                В корзину
              </button>
            </div>
          </div>
          <div class="categories__card product-card">
            <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
            </div>
            <div class="product-card__image">
              <div class="product-card__icons-wrapper">
                <div class="product-card__icons product-card__icons--top">
                  <a href="#" class="product-card__icon product-card__icon--heart">
                    {{mixins.icon('heart')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--comparing">
                    {{mixins.icon('comparing')}}
                  </a>
                </div>
                <div class="product-card__icons product-card__icons--bottom">
                  <a href="#" class="product-card__icon product-card__icon--studded">
                    {{mixins.icon('studded')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--snowflake">
                    {{mixins.icon('snowflake')}}
                  </a>
                </div>
              </div>
              <img src="img/product-img.png" alt="">
            </div>
            <div class="product-card__info">
              <div class="product-card__vendor-code">
                Арт: 564902
              </div>
              <div class="product-card__rating">
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star"></span>
                <span class="product-card__star"></span>
              </div>
            </div>
            <div class="product-card__name">
              Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
            </div>
            <div class="product-card__price-wrapper">
              <div class="product-card__price">
                4 900 ₽ / шт.
              </div>
              <div class="product-card__price product-card__price--old">
                5 450 ₽ / шт.
              </div>
            </div>
            <div class="product-card__buttons">
              <div class="product-card__num-block">
                <button class="product-card__minus">-</button>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                <button class="product-card__plus">+</button>
              </div>
              <button class="product-card__to-cart button button--send">
                В корзину
              </button>
            </div>
          </div>
          <div class="categories__card product-card">
            <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
              <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
              <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
            </div>
            <div class="product-card__image">
              <div class="product-card__icons-wrapper">
                <div class="product-card__icons product-card__icons--top">
                  <a href="#" class="product-card__icon product-card__icon--heart">
                    {{mixins.icon('heart')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--comparing">
                    {{mixins.icon('comparing')}}
                  </a>
                </div>
                <div class="product-card__icons product-card__icons--bottom">
                  <a href="#" class="product-card__icon product-card__icon--studded">
                    {{mixins.icon('studded')}}
                  </a>
                  <a href="#" class="product-card__icon product-card__icon--snowflake">
                    {{mixins.icon('snowflake')}}
                  </a>
                </div>
              </div>
              <img src="img/product-img.png" alt="">
            </div>
            <div class="product-card__info">
              <div class="product-card__vendor-code">
                Арт: 564902
              </div>
              <div class="product-card__rating">
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star product-card__star--checked"></span>
                <span class="product-card__star"></span>
                <span class="product-card__star"></span>
              </div>
            </div>
            <div class="product-card__name">
              Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
            </div>
            <div class="product-card__price-wrapper">
              <div class="product-card__price">
                4 900 ₽ / шт.
              </div>
              <div class="product-card__price product-card__price--old">
                5 450 ₽ / шт.
              </div>
            </div>
            <div class="product-card__buttons">
              <div class="product-card__num-block">
                <button class="product-card__minus">-</button>
                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                <button class="product-card__plus">+</button>
              </div>
              <button class="product-card__to-cart button button--send">
                В корзину
              </button>
            </div>
          </div>
        </div>
        <ul class="categories__pagination">
          <li>
            <a href="#" class="categories__link categories__link--active">1</a>
          </li>
          <li>
            <a href="#" class="categories__link">2</a>
          </li>
          <li>
            <a href="#" class="categories__link">3</a>
          </li>
          <li>
            <span class="categories__link categories__link--disabled">...</span>
          </li>
          <li>
            <a href="#" class="categories__link categories__link--last">8</a>
          </li>
        </ul>
      </div>
      <div class="categories__section">
        <ul class="categories__nav">
          <li>
            <a href="#" class="categories__nav-link categories__nav-link--active">
              Подбор шин
            </a>
          </li>
          <li>
            <a href="#" class="categories__nav-link">
              Каталог шин
            </a>
          </li>
          <li>
            <a href="#" class="categories__nav-link">
              Калькулятор шин и дисков
            </a>
          </li>
          <li>
            <a href="#" class="categories__nav-link">
              Тесты шин
            </a>
          </li>
        </ul>
        <div class="categories__banner">
          <img src="img/banner540x760.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
