<div class="bread-crumbs">
  <div class="container">
    <div class="bread-crumbs__wrapper">
      <div class="bread-crumbs--left-side">
        <div class="bread-crumbs__crumbs">
          <span>
            <a href="#">
              Главная
            </a>
          </span>
          <span>
             Новости
          </span>
        </div>
        <h2 class="bread-crumbs__title">
          Новости
        </h2>
      </div>
      <div class="bread-crumbs--right-side">
        <div class="bread-crumbs__selects">
          <div class="select-drop-down" id="date">
            <span class="select-drop-down__title">Период</span>
            <span class="select-drop-down__input">За всё время</span>
            <div class="select-drop-down__list">
              <ul>
                <li>
                  <a href="#">За всё время</a>
                </li>
                <li >
                  <a href="#">За неделю</a>
                </li>
                <li>
                  <a href="#">За месяц</a>
                </li>
                <li>
                  <a href="#">Сегодня</a>
                </li>
              </ul>
              <button class="select-drop-down__close-btn">
                Закрыть
              </button>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>

