<div class="news-page">
  <div class="container">
    <div class="news-page__wrapper">
      <div class="news-page__card news-card">
        <img src="img/news-1.png" alt="" class="news-card__img">
        <div class="news-card__info">
          <div class="news-card__tags">
            Полезное
          </div>
          <time class="news-card__time" datetime="2019-06-23">
            23.06.19
          </time>
        </div>
        <h3 class="news-card__title">
          Маркировка, конструкция, классификация, выбор, монтаж и эксплуатация шин для внедорожников.
        </h3>
      </div>
      <div class="news-page__card news-card">
        <img src="img/news-2.png" alt="" class="news-card__img">
        <div class="news-card__info">
          <div class="news-card__tags">
            Технологии
          </div>
          <time class="news-card__time" datetime="2019-06-23">
            18.06.19
          </time>
        </div>
        <h3 class="news-card__title">
          Michelin AR2 - гениальность в простоте или утрируемый рекламный ход? Обсуждаем мнения независимых критиков.
        </h3>
      </div>
      <div class="news-page__card news-card">
        <img src="img/news-3.png" alt="" class="news-card__img">
        <div class="news-card__info">
          <div class="news-card__tags">
            Обзоры
          </div>
          <time class="news-card__time" datetime="2019-06-23">
            16.06.19
          </time>
        </div>
        <h3 class="news-card__title">
          Суровые полевые испытания Proxes CF2 от Toyo. Чего стоит ожидать от новинки японского производителя?
        </h3>
      </div>
      <div class="news-page__card news-card">
        <img src="img/news-4.png" alt="" class="news-card__img">
        <div class="news-card__info">
          <div class="news-card__tags">
            Превью
          </div>
          <time class="news-card__time" datetime="2019-06-23">
            10.06.19
          </time>
        </div>
        <h3 class="news-card__title">
          Квинтэссенция шин Apollo. Каким будет следующий ход Онкара Карвара?
        </h3>
      </div>
      <div class="news-page__card news-card">
        <img src="img/news-1.png" alt="" class="news-card__img">
        <div class="news-card__info">
          <div class="news-card__tags">
            Полезное
          </div>
          <time class="news-card__time" datetime="2019-06-23">
            23.06.19
          </time>
        </div>
        <h3 class="news-card__title">
          Маркировка, конструкция, классификация, выбор, монтаж и эксплуатация шин для внедорожников.
        </h3>
      </div>
      <div class="news-page__card news-card">
        <img src="img/news-2.png" alt="" class="news-card__img">
        <div class="news-card__info">
          <div class="news-card__tags">
            Технологии
          </div>
          <time class="news-card__time" datetime="2019-06-23">
            18.06.19
          </time>
        </div>
        <h3 class="news-card__title">
          Michelin AR2 - гениальность в простоте или утрируемый рекламный ход? Обсуждаем мнения независимых критиков.
        </h3>
      </div>
      <div class="news-page__card news-card">
        <img src="img/news-3.png" alt="" class="news-card__img">
        <div class="news-card__info">
          <div class="news-card__tags">
            Обзоры
          </div>
          <time class="news-card__time" datetime="2019-06-23">
            16.06.19
          </time>
        </div>
        <h3 class="news-card__title">
          Суровые полевые испытания Proxes CF2 от Toyo. Чего стоит ожидать от новинки японского производителя?
        </h3>
      </div>
      <div class="news-page__card news-card">
        <img src="img/news-4.png" alt="" class="news-card__img">
        <div class="news-card__info">
          <div class="news-card__tags">
            Превью
          </div>
          <time class="news-card__time" datetime="2019-06-23">
            10.06.19
          </time>
        </div>
        <h3 class="news-card__title">
          Квинтэссенция шин Apollo. Каким будет следующий ход Онкара Карвара?
        </h3>
      </div>
      <div class="news-page__card news-card">
        <img src="img/news-3.png" alt="" class="news-card__img">
        <div class="news-card__info">
          <div class="news-card__tags">
            Обзоры
          </div>
          <time class="news-card__time" datetime="2019-06-23">
            16.06.19
          </time>
        </div>
        <h3 class="news-card__title">
          Суровые полевые испытания Proxes CF2 от Toyo. Чего стоит ожидать от новинки японского производителя?
        </h3>
      </div>
      <div class="news-page__card news-card">
        <img src="img/news-4.png" alt="" class="news-card__img">
        <div class="news-card__info">
          <div class="news-card__tags">
            Превью
          </div>
          <time class="news-card__time" datetime="2019-06-23">
            10.06.19
          </time>
        </div>
        <h3 class="news-card__title">
          Квинтэссенция шин Apollo. Каким будет следующий ход Онкара Карвара?
        </h3>
      </div>
    </div>
  </div>
</div>
