<div class="partnership">
  <div class="container-limit">
    <div class="partnership__wrapper">
      <ul class="categories__brands-list">
        <li>
          <a href="partnership.html">
            <img src="img/1-1.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/2-2.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/3-3.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/4-4.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/5-5.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/6-6.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/7-7.png" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/8-8.png" alt="">
          </a>
        </li>
      </ul>
      <form class="partnership__form form-partners">
        <h5>
          Приглашаем клубы автомобилистов
        </h5>
        <h3>
          Стать партнёром
        </h3>
        <div class="form-partners__row form-partners__row--elems" >
          <div class="form-partners__elem">
            <label for="name-ps"  class="form-partners__label">
              Ваше имя
            </label>
            <input type="text" id="name-ps" name="name" class="form-partners__input" required>
          </div>
          <div class="form-partners__elem">
            <label for="email-ps"  class="form-partners__label">
              Электронная почта
            </label>
            <input type="email" id="email-ps" name="email" class="form-partners__input" required>
          </div>
          <div class="form-partners__elem">
            <label for="phone-ps"  class="form-partners__label">
              Номер телефона
            </label>
            <input type="tel" id="phone-ps" name="phone" class="form-partners__input" required>
          </div>
          <div class="form-partners__elem">
            <label for="link-ps"  class="form-partners__label">
              Ссылка на сайт
            </label>
            <input type="text" id="link-ps" name="link" class="form-partners__input">
          </div>
       </div>
        <div class="form-partners__row form-partners__row--textarea">
          <div class="form-partners__elem">
            <label for="message-ps"  class="form-partners__label">
              Сообщение
            </label>
            <textarea name="message" id="message-ps" rows="4" class="form-partners__input"></textarea>
          </div>
        </div>
        <div class="form-partners__row form-partners__row--buttons">
          <p>
            Отправляя заявку с сайта я подтверждаю, что согласен на
            <a href="#">
               обработку персональных данных.
            </a>
          </p>
          <button class="button button--send">
            Отправить заявку
          </button>
        </div>
       </form>
    </div>
  </div>
</div>
