.categories
	+r(767)
		.product-card__buttons
			display: flex
			flex-wrap: wrap
	&__wrapper
		display: grid
		grid-template-columns: 4fr 2fr
		grid-gap: 20px
		+r(1199)
			grid-template-columns: 1fr
			grid-template-areas: 'section-two' 'section-one'
	&__cards
		display: grid
		grid-template-columns: repeat(4, 1fr)
		grid-gap: 20px
		margin-bottom: 80px
		+r(1919)
			grid-template-columns: repeat(3, 1fr)
		+r(1439)
			grid-template-columns: repeat(2, 1fr)
		+r(1199)
			grid-template-columns: repeat(3,1fr)
		+r(991)
			grid-template-columns: repeat(2, 1fr)
		+r(575)
			grid-template-columns: 1fr
	&__section
		&:nth-of-type(1)
			+r(1199)
				grid-area: section-one
		&:nth-of-type(2)
			+r(1199)
				grid-area: section-two
	&__card
		margin: 0
	&__pagination
		display: flex
		padding: 10px 20px
		+r(575)
			padding-left: 0
			justify-content: center
		li
			display: block
			margin-right: 12px
			&:last-of-type
				margin-right: 0
	&__link
		display: flex
		justify-content: center
		align-items: center
		padding: 10px
		width: 42px
		height: 42px
		box-sizing: border-box
		text-align: center
		color: $silverChalice
		border-radius: 4px
		cursor: pointer
		transition: all .3s ease
		&:hover
			background-color: rgba($elm, .8)
			color: $white
		&--disabled
			cursor: default
			&:hover
				background-color: transparent
				color: $silverChalice
		&--active
			background-color: $elm
			color: $white
			&:hover
				background-color: $elm
		&--last
			background-color: $wildSand
	&__nav
		padding: 0 20px 30px 40px
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-gap: 12px
		+r(1639)
			grid-template-columns: 1fr
			padding: 0 20px 30px
		+r(1199)
			grid-template-columns: repeat(2, 1fr)
			padding: 0 0 30px
		+r(575)
			grid-template-columns: 1fr
		&-link
			display: block
			text-align: center
			line-height: 1em
			padding: 15px
			border-radius: 4px
			background-color: $wildSand
			color: $tundora
			font-weight: 700
			transition: all .3s ease
			&:hover
				background-color: rgba($elm, .8)
				color: $white
			&--active
				background-color: $elm
				color: $white
	&__banner
		padding: 30px 20px 30px 40px
		+r(1199)
			display: none
		img
			width: 100%
			height: auto
			object-fit: contain
.select-panel
	display: flex
	justify-content: space-between
	padding: 20px 20px 10px
	background-color: $elm
	border-radius: 6px
	margin-bottom: 60px
	align-items: flex-start
	+r(575)
		margin-bottom: 20px
		flex-direction: column
	&__block
		display: flex
		flex-wrap: wrap
		+r(575)
			flex-direction: column
			width: 100%
	&__elem
		position: relative
		margin-right: 15px
		margin-bottom: 10px
		+r(575)
			margin-right: 0
		&::after
			left: auto
			right: 15px
		&:last-of-type
			margin-right: 0
	&__result
		background-color: $white
		&#rimWidth
			width: 170px
			+r(575)
				width: 100%
		&#numberOfMountingHoles
			width: 270px
			+r(575)
				width: 100%
		&#holeDiameter
			width: 300px
			+r(575)
				width: 100%
		&#diameterCenterHoles
			width: 250px
			+r(575)
				width: 100%
		&#departure
			width: 150px
			+r(575)
				width: 100%
	&__title
		max-width: none
		+r(575)
			right: 30px
		&.search-form__title--active
			+r(575)
				right: 0
				transform: translateY(5px) scale(.75) translateX(-16%)
	&__list
		top: 102%
	&__more
		font-family: $globalDefaultFont
		font-size: 13px
		color: $silverChalice
		background-color: $white
		border-radius: 4px
		border: none
		padding: 13.4px 11.3px
		transition: all .3s ease
		flex-shrink: 0
		margin-left: 10px
		+r(575)
			margin-left: 0
		&:hover
			color: $mineShaft
