<div class="bread-crumbs">
  <div class="container-limit">
    <div class="bread-crumbs__wrapper">
      <div class="bread-crumbs--left-side">
        <div class="bread-crumbs__crumbs">
          <span>
            <a href="#">
              Главная
            </a>
          </span>
          <span>
            <a href="#">
              Новости
            </a>
          </span>
          <span>
             Суровые полевые испытания Proxes CF2 от Toyo. Чего стоит ожидать от новинки японского производителя?
          </span>
        </div>
        <h2 class="bread-crumbs__title">
          Суровые полевые испытания Proxes CF2 от Toyo. Чего стоит ожидать от новинки японского производителя?
        </h2>
      </div>
      <div class="bread-crumbs--right-side">
        <div class="bread-crumbs__selects">
          <div class="bread-crumbs__info">
            <h5>Категория</h5>
            <p>Обзоры</p>
          </div>
          <div class="bread-crumbs__info">
            <h5>Дата</h5>
            <time datetime="2019-06-16">16.06.19</time>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>

