<div class="delivery">
  <div class="container-limit">
    <div class="delivery__content">
      <h3>
        Доставка товара осуществляется по рабочим дням с 09-00 до 18-00.
      </h3>
      <h3>
        Возможна доставка по субботам по предварительной договоренности.
      </h3>
      <ul>
        <li>
          <strong>По Москве</strong>, в пределах МКАД - <strong>500 руб.</strong> (срок доставки - до 3 дней);
        </li>
        <li>
          <strong>За МКАД</strong> по Подмосковью: <strong>500 руб. + 30 руб. за каждый километр</strong> от МКАД до адреса доставки. (срок доставки - до 3 дней);
        </li>
        <li>
          <strong>По России:</strong> доставка до транспортной компании - <strong>500 руб.</strong> + тариф транспортной до вашего города. (срок доставки до транспортной компании - до 3 дней).
        </li>
      </ul>
      <div class="delivery__warning">
        {{mixins.icon('warning')}}
        <ul>
          <li>
            Водителю запрещено <strong>оставлять машину без присмотра</strong> должностной инструкцией!;
          </li>
          <li>
            Доставка осуществляется <strong>до подъезда</strong> многоквартирного дома, или до калитки в частном секторе;
          </li>
          <li>
            Доставка до объектов с пропускным режимом осуществляется <strong>до въезда</strong> на них;
          </li>
          <li>
            <strong>Время ожидания</strong> клиента водителем - <strong>15 минут</strong>, после уведомления о своем прибытии по телефону.
          </li>
        </ul>
      </div>
      <h3>
        Вес и объем шин и дисков.
      </h3>
      <p>
        Если Вы хотите заранее узнать стоимость перевозки комплекта колес, необходимо сообщить в офис ТК габариты груза. Для этого Вам пригодятся таблицы, где собраны данные о весе и объеме покрышек в определенных размерах.
      </p>
      <p>
        Не стоит забывать о том, что:
      </p>
      <ul>
        <li>
          Данные параметры носят приблизительный характер и у разных производителей <strong>могут немного отличаться;</strong>
        </li>
        <li>
          <strong>Зимние покрышки весят больше</strong>, чем летние. Это обусловлено тем, что блоки протектора у зимних шин выше;
        </li>
        <li>
          Авторезина, произведенная по технологии <strong>Runflat</strong>, весит в полтора раза больше;
        </li>
        <li>
          Бывшая в употреблении покрышка, за каждый год использования теряет от 1 до 1,5 кг.
        </li>
      </ul>
      <p>
        Кроме этого, информация о весе шин может быть полезна тем, кто хочет снизить вес автомобиля в целом (при выезде на бездорожье), либо "помешан" на расходе топлива.
      </p>
      <h3>
        Калькулятор расчёта стоимости заявки.
      </h3>
      <div class="delivery__form">

      </div>
    </div>
  </div>
</div>
