.title
	max-width: 600px
	margin: 0
	display: flex
	flex-wrap: wrap
	+r(1439)
		width: 100%
		max-width: none
		margin-bottom: 15px
	&__line
		display: flex
		align-items: center
		flex-wrap: wrap
		padding: 20px 0 30px
		+r(767)
			padding: 0 0 20px
			justify-content: space-between
		.watch-all
			padding-left: 200px
			text-decoration: underline
			color: $elm
			transition: all .3s ease
			+r(1439)
				padding-left: 0
				margin-left: auto
				+ .slider-nav
					margin-left: 100px
			+r(767)
				margin-left: 0
				margin-right: 0
				text-align: center
				margin-bottom: 10px
			&:hover
				color: $mineShaft
		+r(767)
			.title
				order: 1
			.watch-all
				order: 2
			.slider-nav
				order: 3
			.select-drop-down
				order: 4

	a
		font-family: $titleFont
		font-size: 19px
		display: block
		font-weight: 800
		color: $silverChalice
		padding-right: 42px
		position: relative
		+r(767)
			font-size: 16px
		&::after
			content: '/'
			font-family: $titleFont
			font-size: 19px
			font-weight: 800
			color: $silverChalice
			position: absolute
			top: 53%
			right: 20px
			transform: translateY(-50%)
			+r(767)
				font-size: 16px
		&:nth-of-type(1)
			padding-left: 0
		&:last-of-type
			padding-right: 0
			&::after
				content: none
		&:hover
			opacity: .8
		&.active
			color: $mineShaft
			&:hover
				opacity:  1


