<div class="card-page">
  <div class="container-limit">
    <div class="card-page__card">
      <div class="card-page__left-side">
        <div class="product-card__icons-wrapper">
          <div class="product-card__icons product-card__icons--top">
            <a href="#" class="product-card__icon product-card__icon--heart">
              {{mixins.icon('heart')}}
            </a>
            <a href="#" class="product-card__icon product-card__icon--comparing">
              {{mixins.icon('comparing')}}
            </a>
          </div>
          <div class="product-card__icons product-card__icons--bottom">
            <a href="#" class="product-card__icon product-card__icon--studded">
              {{mixins.icon('studded')}}
            </a>
            <a href="#" class="product-card__icon product-card__icon--snowflake">
              {{mixins.icon('snowflake')}}
            </a>
          </div>
        </div>
        <div class="product-card__tags">
          <span class="product-card__tag product-card__tag--action">
            Акция
          </span>
          <span class="product-card__tag product-card__tag--hit">
            Хит
          </span>
          <span class="product-card__tag product-card__tag--new">
            Новинка
          </span>
        </div>
        <div class="product-card__image">
          <img src="img/product-img.png" alt="">
        </div>
        <div class="card-page__description">
          Изображение может незначительно отличаться от оригинала.
        </div>
      </div>
      <div class="card-page__right-side">
        <div class="card-page__title">
          <div class="card-page__title-left">
            <ul>
              <li>
                <h3>
                  Размер
                </h3>
                <span>
                  215/65R17
                </span>
              </li>
              <li>
                <h3>
                  Индекс нагрузки
                </h3>
                <span>
                  max 775 кг
                </span>
              </li>
              <li>
                <h3>
                  Индекс скорости
                </h3>
                <span>
                  до 240 км/час
                </span>
              </li>
            </ul>
          </div>
          <div class="card-page__title-right">
            <div class="card-page__star-rating">
              <span class="card-page__star card-page__star--checked"></span>
              <span class="card-page__star card-page__star--checked"></span>
              <span class="card-page__star card-page__star--checked"></span>
              <span class="card-page__star card-page__star--checked"></span>
              <span class="card-page__star"></span>
            </div>
          </div>
        </div>
        <div class="card-page__container">
          <div class="card-page__char">
            <h5>Арт: <span>564902</span></h5>
            <ul>
              <li>
                Сезон: <span>всесезонная</span>
              </li>
              <li>
                Производитель:  <span>Continental</span>
              </li>
              <li>
                Модель: <span>Contilce Contact</span>
              </li>
              <li>
                Ширина профиля: <span>215</span>
              </li>
              <li>
                Высота профиля: <span>65</span>
              </li>
              <li>
                Диаметр: <span>R17</span>
              </li>
              <li>
                Тип: <span>легковая</span>
              </li>
            </ul>
            <button class="card-page__char-more-btn">
              Все характеристики
            </button>
          </div>
          <div class="card-page__info">
            <h4>
              Доступно к заказу
            </h4>
            <p>68 шт.</p>
            <h4>
              Наличие
            </h4>
            <p>
              Центр, склад (2-3 дня)
            </p>
            <div class="card-page__buy">
              <h4>
                Цена за 1 штуку
              </h4>
              <p>
                4 900 ₽ / шт.
              </p>
              <div class="card-page__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="card-page__to-cart button button--send">
                  В корзину
                </button>
                <button class="button button--full">
                  Приобрести в 1 клик
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="services card-page-services">
  <div class="container-limit">
    <ul class="services__nav">
      <li>
        <a href="#">
          Описание
        </a>
      </li>
      <li>
        <a href="#">
          Услуги
        </a>
      </li>
      <li>
        <a href="#">
          Отзывы
        </a>
      </li>
      <li>
        <a href="#">
          Доставка
        </a>
      </li>
      <li>
        <a href="#">
          Оплата
        </a>
      </li>
      <li>
        <a href="#">
          Задать вопрос
        </a>
      </li>
    </ul>
    <div class="services__tables">
      <div class="services__table card-page__char-tab">
        <p>
          Изменение глобальной стратегии спорадически создает повседневный медийный канал. Производство концентрирует целевой трафик, отвоевывая рыночный сегмент. Рыночная информация, на первый взгляд, подсознательно искажает бренд. По сути, PR позиционирует комплексный рекламный клаттер. Не факт, что позиционирование на рынке усиливает BTL. Рыночная информация переворачивает потребительский медиаплан.
        </p>
      </div>

      <div class="services__table card-page__char-tab ">
        <p>
          Изменение глобальной стратегии спорадически создает повседневный медийный канал. Производство концентрирует целевой трафик, отвоевывая рыночный сегмент. Рыночная информация, на первый взгляд, подсознательно искажает бренд. По сути, PR позиционирует комплексный рекламный клаттер. Не факт, что позиционирование на рынке усиливает BTL. Рыночная информация переворачивает потребительский медиаплан.
        </p>
      </div>

      <div class="services__table card-page__char-tab ">
        <p>
          Изменение глобальной стратегии спорадически создает повседневный медийный канал. Производство концентрирует целевой трафик, отвоевывая рыночный сегмент. Рыночная информация, на первый взгляд, подсознательно искажает бренд. По сути, PR позиционирует комплексный рекламный клаттер. Не факт, что позиционирование на рынке усиливает BTL. Рыночная информация переворачивает потребительский медиаплан.
        </p>
      </div>

      <div class="services__table card-page__char-tab ">
        <p>
          Изменение глобальной стратегии спорадически создает повседневный медийный канал. Производство концентрирует целевой трафик, отвоевывая рыночный сегмент. Рыночная информация, на первый взгляд, подсознательно искажает бренд. По сути, PR позиционирует комплексный рекламный клаттер. Не факт, что позиционирование на рынке усиливает BTL. Рыночная информация переворачивает потребительский медиаплан.
        </p>
      </div>

      <div class="services__table card-page__char-tab ">
        <p>
          Изменение глобальной стратегии спорадически создает повседневный медийный канал. Производство концентрирует целевой трафик, отвоевывая рыночный сегмент. Рыночная информация, на первый взгляд, подсознательно искажает бренд. По сути, PR позиционирует комплексный рекламный клаттер. Не факт, что позиционирование на рынке усиливает BTL. Рыночная информация переворачивает потребительский медиаплан.
        </p>
      </div>

      <div class="services__table card-page__char-tab ">
        <p>
          Изменение глобальной стратегии спорадически создает повседневный медийный канал. Производство концентрирует целевой трафик, отвоевывая рыночный сегмент. Рыночная информация, на первый взгляд, подсознательно искажает бренд. По сути, PR позиционирует комплексный рекламный клаттер. Не факт, что позиционирование на рынке усиливает BTL. Рыночная информация переворачивает потребительский медиаплан.
        </p>
      </div>

      <div class="services__table card-page__char-tab ">
        <p>
          Изменение глобальной стратегии спорадически создает повседневный медийный канал. Производство концентрирует целевой трафик, отвоевывая рыночный сегмент. Рыночная информация, на первый взгляд, подсознательно искажает бренд. По сути, PR позиционирует комплексный рекламный клаттер. Не факт, что позиционирование на рынке усиливает BTL. Рыночная информация переворачивает потребительский медиаплан.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="qualities">
  <div class="container">
    <div class="qualities__wrapper">
      <div class="qualities__item">
        <div class="qualities__text">
          <h3>
            Оптимальный <br> выбор.
          </h3>
          <p>
            Низкие цены и широкий ассортимент товара.
          </p>
        </div>
        <div class="qualities__img">
          {{mixins.icon('wheel')}}
        </div>
      </div>

      <div class="qualities__item">
        <div class="qualities__text">
          <h3>
            Гарантия <br> качества.
          </h3>
          <p>
            Весь товар <br> сертифицирован.
          </p>
        </div>
        <div class="qualities__img">
          {{mixins.icon('guarantee')}}
        </div>
      </div>

      <div class="qualities__item">
        <div class="qualities__text">
          <h3>
            Скидка <br> на шиномонтаж.
          </h3>
          <p>
            При покупке шин <br> и дисков.
          </p>
        </div>
        <div class="qualities__img">
          {{mixins.icon('discount')}}
        </div>
      </div>

      <div class="qualities__item">
        <div class="qualities__text">
          <h3>
            Бесплатная <br> доставка.
          </h3>
          <p>
            При покупке колёс <br> в сборе.
          </p>
        </div>
        <div class="qualities__img">
          {{mixins.icon('box')}}
        </div>
      </div>
    </div>
  </div>
</div>
<section class="goods card-page-goods">
  <div class="container-limit">
    <div class="title__line">
      <h2 class="title">
        <a href="#" class="active">
          Аналогичные товары
        </a>
        <a href="#">
          Вы смотрели
        </a>
      </h2>
      <div class="slider-nav">
        <div class="slider-nav-prev goods__swiper-button-prev swiper-button-prev"></div>
        <div class="slider-nav-next goods__swiper-button-next swiper-button-next"></div>
      </div>
    </div>
    <div class="goods__slider card-page__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
