<div class="payment">
  <div class="container-limit">
    <div class="payment__wrapper">
      <h3>
        Оплата при получении товара:
      </h3>
      <div class="payment__row">
        <div class="payment__block ">
          {{mixins.icon('credit-card')}}
          <div class="payment__text">
            <h4>
              Оплата кредитной картой.
            </h4>
            <p>
              Возможна только в пунктах самовывоза «Покров» и «Кунцево». Оплата картой водителю, при доставке, невозможна по техническим причинам, приносим извинения.
            </p>
          </div>
        </div>
        <div class="payment__block ">
          {{mixins.icon('payment')}}
          <div class="payment__text">
            <h4>
              Оплата наличными.
            </h4>
            <p>
              Возможна менеджеру при получении товара в пунктах самовывоза и водителю при заказе услуги доставка.
            </p>
          </div>
        </div>
      </div>
      <h3>
        Предоплата товара:
      </h3>
      <div class="payment__row">
        <div class="payment__block ">
          <div class="payment__text">
            <h4>
              Оплата по счёту (для физических лиц).
            </h4>
            <p>
              Для оплаты нужно отправить на почту gav777@bk.ru следующие данные: ФИО плательщика полностью, адрес плательщика, серия и номер паспорта. Вам будет направлен счёт для оплаты. Его можно будет оплатить либо в любом отделении банка, либо через онлайн приложение. Обязательно сохраните корешок об оплате.            </p>
          </div>
        </div>
        <div class="payment__block ">
          <div class="payment__text">
            <h4>
              Оплата по безналичному расчёту (для юридических лиц).
            </h4>
            <p>
              Для оплаты нужно отправить на почту gav777@bk.ru реквизиты организации-плательщика. Менеджер вышлет вам счет на оплату, действительный в течение 3-х банковских дней. Товар отпускается только после поступления денег на наш расчетный счет. При получении товара, потребуется  доверенность и паспорт получателя, или печать организации-получателя.
            </p>
          </div>
        </div>
      </div>
      <div class="payment__info">
        <p>Название организации: ИП Герасименко Алексей Викторович</p>
        <p>Юридический адрес:  142180, Московская область, г. Климовск, Рощинская, д. 19, кв. 44</p>
        <p>ОГРНИП 313507421300093   ОКПО: 0187920397   ОКАТО: 46436000000</p>
        <p>Банковские реквизиты:  ПАО РОСБАНК р/с 40802810887710000074 к/с 30101810000000000256 БИК 044525256</p>
      </div>
    </div>
  </div>
</div>
