<div class="contacts-page">
  <div class="container-limit">

    <div class="contacts-page__info">
      <div class="contacts-page__row">
        <a href="tel:+74952552859">
          Т.: +7 (495) 255-28-59
        </a>
        <a href="tel:88002552859">
          Т.: 8 (800) 255-28-59
        </a>
        <a href="mailto:support@koleso777.ru">
          support@koleso777.ru
        </a>
      </div>
      <div class="contacts-page__row">
        <p>
          График работы и обработки заказов: <strong>ежедневно без выходных с 8:00 до 19:00</strong>
        </p>
        <p>
          График приёма заказов: <strong>круглосуточно</strong>
        </p>
      </div>
    </div>
    <div id="map"></div>
    <div class="contacts-page__links">
      <div class="contacts__slide">
        <div class="contacts__icons">
          {{mixins.icon('box-map')}}
          {{mixins.icon('car-wash')}}
        </div>
        <h3 class="contacts__name">
          Пункт выдачи в Покрове.
        </h3>
        <p class="contacts__text">
          Московская обл., г.о. Подольск, с. Покров (рядом с магазином «КЭМП», <br>
          на территории ТК «Автозапчасти»)
        </p>
        <p class="contacts__info">
          <a href="+74952552859">+7 (495) 255-28-59</a>
          <span>Ежедневно (8:00 - 19:00)</span>
        </p>
        <button class="contacts__on-map" value="55.446503227698706,37.61841916303229">
          Показать на карте
        </button>
      </div>
      <div class="contacts__slide">
        <div class="contacts__icons">
          {{mixins.icon('box-map')}}
          {{mixins.icon('car-wash')}}
        </div>
        <h3 class="contacts__name">
          Пункт выдачи в Покрове.
        </h3>
        <p class="contacts__text">
          Московская обл., г.о. Подольск, с. Покров (рядом с магазином «КЭМП», <br>
          на территории ТК «Автозапчасти»)
        </p>
        <p class="contacts__info">
          <a href="+74952552859">+7 (495) 255-28-59</a>
          <span>Ежедневно (8:00 - 19:00)</span>
        </p>
        <button class="contacts__on-map" value="56.446503227698706,37.61841916303229">
          Показать на карте
        </button>
      </div>
      <div class="contacts__slide">
        <div class="contacts__icons">
          {{mixins.icon('box-map')}}
          {{mixins.icon('car-wash')}}
        </div>
        <h3 class="contacts__name">
          Пункт выдачи в Покрове.
        </h3>
        <p class="contacts__text">
          Московская обл., г.о. Подольск, с. Покров (рядом с магазином «КЭМП», <br>
          на территории ТК «Автозапчасти»)
        </p>
        <p class="contacts__info">
          <a href="+74952552859">+7 (495) 255-28-59</a>
          <span>Ежедневно (8:00 - 19:00)</span>
        </p>
        <button class="contacts__on-map" value="57.446503227698706,37.61841916303229">
          Показать на карте
        </button>
      </div>
      <div class="contacts__slide">
        <div class="contacts__icons">
          {{mixins.icon('box-map')}}
          {{mixins.icon('car-wash')}}
        </div>
        <h3 class="contacts__name">
          Пункт выдачи в Покрове.
        </h3>
        <p class="contacts__text">
          Московская обл., г.о. Подольск, с. Покров (рядом с магазином «КЭМП», <br>
          на территории ТК «Автозапчасти»)
        </p>
        <p class="contacts__info">
          <a href="+74952552859">+7 (495) 255-28-59</a>
          <span>Ежедневно (8:00 - 19:00)</span>
        </p>
        <button class="contacts__on-map" value="58.446503227698706,37.61841916303229">
          Показать на карте
        </button>
      </div>
      <div class="contacts__slide">
        <div class="contacts__icons">
          {{mixins.icon('box-map')}}
          {{mixins.icon('car-wash')}}
        </div>
        <h3 class="contacts__name">
          Пункт выдачи в Покрове.
        </h3>
        <p class="contacts__text">
          Московская обл., г.о. Подольск, с. Покров (рядом с магазином «КЭМП», <br>
          на территории ТК «Автозапчасти»)
        </p>
        <p class="contacts__info">
          <a href="+74952552859">+7 (495) 255-28-59</a>
          <span>Ежедневно (8:00 - 19:00)</span>
        </p>
        <button class="contacts__on-map" value="59.446503227698706,37.61841916303229">
          Показать на карте
        </button>
      </div>
    </div>
  </div>
</div>
