<div class="contacts">
  <div class="container">
    <div id="map"></div>
    <div class="contacts__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="contacts__slide">
              <div class="contacts__icons">
                {{mixins.icon('box-map')}}
                {{mixins.icon('car-wash')}}
              </div>
              <h3 class="contacts__name">
                Пункт выдачи в Покрове.
              </h3>
              <p class="contacts__text">
                Московская обл., г.о. Подольск, с. Покров (рядом с магазином «КЭМП», <br>
                на территории ТК «Автозапчасти»)
              </p>
              <p class="contacts__info">
                <a href="+74952552859">+7 (495) 255-28-59</a>
                <span>Ежедневно (8:00 - 19:00)</span>
              </p>
              <button class="contacts__on-map">
                Показать на карте
              </button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="contacts__slide">
              <div class="contacts__icons">
                {{mixins.icon('box-map')}}
                {{mixins.icon('car-wash')}}
              </div>
              <h3 class="contacts__name">
                Пункт выдачи в Покрове.
              </h3>
              <p class="contacts__text">
                Московская обл., г.о. Подольск, с. Покров (рядом с магазином «КЭМП», <br>
                на территории ТК «Автозапчасти»)
              </p>
              <p class="contacts__info">
                <a href="+74952552859">+7 (495) 255-28-59</a>
                <span>Ежедневно (8:00 - 19:00)</span>
              </p>
              <button class="contacts__on-map">
                Показать на карте
              </button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="contacts__slide">
              <div class="contacts__icons">
                {{mixins.icon('box-map')}}
                {{mixins.icon('car-wash')}}
              </div>
              <h3 class="contacts__name">
                Пункт выдачи в Покрове.
              </h3>
              <p class="contacts__text">
                Московская обл., г.о. Подольск, с. Покров (рядом с магазином «КЭМП», <br>
                на территории ТК «Автозапчасти»)
              </p>
              <p class="contacts__info">
                <a href="+74952552859">+7 (495) 255-28-59</a>
                <span>Ежедневно (8:00 - 19:00)</span>
              </p>
              <button class="contacts__on-map">
                Показать на карте
              </button>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="contacts__slide">
              <div class="contacts__icons">
                {{mixins.icon('box-map')}}
                {{mixins.icon('car-wash')}}
              </div>
              <h3 class="contacts__name">
                Пункт выдачи в Покрове.
              </h3>
              <p class="contacts__text">
                Московская обл., г.о. Подольск, с. Покров (рядом с магазином «КЭМП», <br>
                на территории ТК «Автозапчасти»)
              </p>
              <p class="contacts__info">
                <a href="+74952552859">+7 (495) 255-28-59</a>
                <span>Ежедневно (8:00 - 19:00)</span>
              </p>
              <button class="contacts__on-map">
                Показать на карте
              </button>
            </div>
          </div>
        </div>
     </div>
      <div class="slider-nav">
      <div class="slider-nav-prev contacts__swiper-button-prev swiper-button-prev"></div>
      <div class="slider-nav-next contacts__swiper-button-next swiper-button-next"></div>
    </div>
    </div>
  </div>
</div>
