<section class="first-screen" id="first-screen">
  <div class="container">
    <div class="first-screen__swiper swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('img/slider-bg-1.png')">
          <div class="first-screen__slide">
            <h3>
              Alcasta, Alutec, ATS, Forsage, Rapid, Replica, Slic, Sword, Trebl, iFree, Газ
            </h3>
            <h2>
              Широкий выбор <br>
              самых качествинных шин.
            </h2>
            <button>
              В каталог
            </button>
          </div>
        </div>
        <div class="swiper-slide">

          <div class="first-screen__slide">
            <h3>
              Alcasta, Alutec, ATS, Forsage, Rapid, Replica, Slic, Sword, Trebl, iFree, Газ
            </h3>
            <h2>
              Широкий выбор <br>
              стильных дисков.
            </h2>
            <button>
              В каталог
            </button>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url('img/slider-bg-1.png')">

          <div class="first-screen__slide">
            <h3>
              Alcasta, Alutec, ATS, Forsage, Rapid, Replica, Slic, Sword, Trebl, iFree, Газ
            </h3>
            <h2>
              Широкий выбор <br>
              стильных дисков.
            </h2>
            <button>
              В каталог
            </button>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url('img/slider-bg-1.png')">

          <div class="first-screen__slide">
            <h3>
              Alcasta, Alutec, ATS, Forsage, Rapid, Replica, Slic, Sword, Trebl, iFree, Газ
            </h3>
            <h2>
              Широкий выбор <br>
              стильных дисков.
            </h2>
            <button>
              В каталог
            </button>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url('img/slider-bg-1.png')">

          <div class="first-screen__slide">
            <h3>
              Alcasta, Alutec, ATS, Forsage, Rapid, Replica, Slic, Sword, Trebl, iFree, Газ
            </h3>
            <h2>
              Широкий выбор <br>
              стильных дисков.
            </h2>
            <button>
              В каталог
            </button>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
