<section class="goods">
  <div class="container">
    <div class="title__line">
      <h2 class="title">
        <a href="#" class="active">
          Товары по выгодным ценам
        </a>
        <a href="#">
          Популярные товары
        </a>
        <a href="#">
          Популярные товары
        </a>
        <a href="#">
          Популярные товары
        </a>
      </h2>
      <a href="card-product.html" class="watch-all">
        Перейти ко всем
      </a>
      <div class="select-drop-down" id="tags">
        <span class="select-drop-down__input">Акция, Хит</span>
        <div class="select-drop-down__list">
          <ul>
            <li>
              <a href="#">Акция</a>
            </li>
            <li >
              <a href="#">Хит</a>
            </li>
            <li>
              <a href="#">Новинка</a>
            </li>
            <li>
              <a href="#">Новинка 2</a>
            </li>
            <li>
              <a href="#">Новинка 3</a>
            </li>
            <li>
              <a href="#">Новинка 4</a>
            </li>
            <li>
              <a href="#">Новинка 5</a>
            </li>
            <li>
              <a href="#">Новинка 6</a>
            </li>
            <li>
              <a href="#">Новинка 7</a>
            </li>
          </ul>
          <button class="select-drop-down__close-btn">
            Закрыть
          </button>
          <button  class="select-drop-down__reset-btn">
            Очистить
          </button>
        </div>
      </div>
      <div class="slider-nav">
        <div class="slider-nav-prev goods__swiper-button-prev swiper-button-prev"></div>
        <div class="slider-nav-next goods__swiper-button-next swiper-button-next"></div>
      </div>
    </div>
    <div class="goods__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="goods__card product-card">
              <div class="product-card__tags">
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--hit">
                  Хит
                </span>
                <span class="product-card__tag product-card__tag--new">
                  Новинка
                </span>
                <span class="product-card__tag product-card__tag--action">
                  Акция
                </span>
              </div>
              <div class="product-card__image">
                <div class="product-card__icons-wrapper">
                  <div class="product-card__icons product-card__icons--top">
                    <a href="#" class="product-card__icon product-card__icon--heart">
                      {{mixins.icon('heart')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--comparing">
                      {{mixins.icon('comparing')}}
                    </a>
                  </div>
                  <div class="product-card__icons product-card__icons--bottom">
                    <a href="#" class="product-card__icon product-card__icon--studded">
                      {{mixins.icon('studded')}}
                    </a>
                    <a href="#" class="product-card__icon product-card__icon--snowflake">
                      {{mixins.icon('snowflake')}}
                    </a>
                  </div>
                </div>
                <img src="img/product-img.png" alt="">
              </div>
              <div class="product-card__info">
                <div class="product-card__vendor-code">
                  Арт: 564902
                </div>
                <div class="product-card__rating">
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star product-card__star--checked"></span>
                  <span class="product-card__star"></span>
                  <span class="product-card__star"></span>
                </div>
              </div>
              <div class="product-card__name">
                Шина Continental ContiIce Contact 2 KD 185/70 R14 92T
              </div>
              <div class="product-card__price-wrapper">
                <div class="product-card__price">
                  4 900 ₽ / шт.
                </div>
                <div class="product-card__price product-card__price--old">
                  5 450 ₽ / шт.
                </div>
              </div>
              <div class="product-card__buttons">
                <div class="product-card__num-block">
                  <button class="product-card__minus">-</button>
                  <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Кол-во" class="product-card__quantity">
                  <button class="product-card__plus">+</button>
                </div>
                <button class="product-card__to-cart button button--send">
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
