<div id="thanks" class="modal">
  <div class="modal__wrapper">
    <div class="thanks_close modal_close">
    </div>
    <div class="modal__thanks">
      <h4>Скоро мы Вам перезвоним!</h4>
      <h3>Спасибо за обращение</h3>
    </div>
  </div>
</div>
<div id="modal" class="modal">
  <div class="modal__wrapper">
    <button class="modal_close">
    </button>
    <div class="modal__form">
      <h4>
        Перезвоним в течение 5 минут
      </h4>
      <h3>Заказать звонок</h3>
      <form action="sendmail.php" method="get" class="form form-callback">
        <div class="form-partners__row modal__row modal__row--elems">
          <div class="form-partners__elem">
            <label for="name-ps"  class="form-partners__label">
              Ваше имя
            </label>
            <input type="text" id="name-ps" name="name" class="form-partners__input" required>
          </div>
          <div class="form-partners__elem">
            <label for="phone-ps"  class="form-partners__label">
              Номер телефона
            </label>
            <input type="tel" id="phone-ps" name="phone" class="form-partners__input" required>
          </div>
        </div>
        <div class="form-partners__row modal__row modal__row--textarea">
          <div class="form-partners__elem">
            <label for="message-ps"  class="form-partners__label">
              Детали и пояснения
            </label>
            <textarea name="message" id="message-ps" rows="4" class="form-partners__input"></textarea>
          </div>
        </div>
        <div class="form-partners__row form-partners__row--buttons">
          <p>
            Отправляя заявку с сайта я подтверждаю, что согласен на
            <a href="#" class="rules_open">
              обработку персональных данных.
            </a>
          </p>
          <button class="button button--send">
            Отправить заявку
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
<div id="modal-two" class="modal">
  <div class="modal__wrapper">
    <button class="modal_close">
    </button>
    <div class="modal__form">
      <h4>
        Перезвоним в течение 5 минут
      </h4>
      <h3>Заказать звонок</h3>
      <form action="sendmail.php" method="get" class="form form-callback">
        <div class="form-partners__row modal__row modal__row--elems">
          <div class="form-partners__elem">
            <label for="name-ps"  class="form-partners__label">
              Ваше имя
            </label>
            <input type="text" id="name-ps" name="name" class="form-partners__input" required>
          </div>
          <div class="form-partners__elem">
            <label for="phone-ps"  class="form-partners__label">
              Номер телефона
            </label>
            <input type="tel" id="phone-ps" name="phone" class="form-partners__input" required>
          </div>
        </div>
        <div class="form-partners__row modal__row modal__row--textarea">
          <div class="form-partners__elem">
            <label for="message-ps"  class="form-partners__label">
              Детали и пояснения
            </label>
            <textarea name="message" id="message-ps" rows="4" class="form-partners__input"></textarea>
          </div>
        </div>
        <div class="form-partners__row form-partners__row--buttons">
          <p>
            Отправляя заявку с сайта я подтверждаю, что согласен на
            <a href="#" class="rules_open">
              обработку персональных данных.
            </a>
          </p>
          <button class="button button--send">
            Отправить заявку
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

<div id="rules" class="modal">
  <div class="modal__wrapper">
    <div class="rules_close modal_close">
    </div>
    <div class="modal__rules">
      <h3>
        Политика конфиденциальности и
        обработки персональных данных
      </h3>
      <h4>
        1. Что такое Lorem Ipsum?
      </h4>
      <p>
        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
      </p>
      <h4>
        2. Откуда он появился?
      </h4>
      <p>
        Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32
      </p>
      <p>
        Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.
      </p>
      <h4>
        1. Почему он используется?
      </h4>
      <p>
        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
      </p>

      <h4>
        2. Где его взять?
      </h4>
      <p>
        Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.
      </p>
    </div>
  </div>
</div>


