<div class="partners-slider">
  <div class="container">
      <div class="partners-slider__wrapper">
        <div class="partners-slider__slide">
          <img src="img/1.png" alt="">
        </div>
        <div class="partners-slider__slide">
          <img src="img/2.png" alt="">
        </div>
        <div class="partners-slider__slide">
          <img src="img/3.png" alt="">
        </div>
        <div class="partners-slider__slide">
          <img src="img/4.png" alt="">
        </div>
        <div class="partners-slider__slide">
          <img src="img/5.png" alt="">
        </div>
        <div class="partners-slider__slide">
          <img src="img/6.png" alt="">
        </div>
        <div class="partners-slider__slide">
          <img src="img/7.png" alt="">
        </div>
        <div class="partners-slider__slide">
          <img src="img/8.png" alt="">
        </div>

      </div>
  </div>
</div>
