<div class="qualities">
  <div class="container">
    <div class="qualities__wrapper">
      <div class="qualities__item">
        <div class="qualities__text">
          <h3>
            Оптимальный <br> выбор.
          </h3>
          <p>
            Низкие цены и широкий ассортимент товара.
          </p>
        </div>
        <div class="qualities__img">
          {{mixins.icon('wheel')}}
        </div>
      </div>

      <div class="qualities__item">
        <div class="qualities__text">
          <h3>
            Гарантия <br> качества.
          </h3>
          <p>
            Весь товар <br> сертифицирован.
          </p>
        </div>
        <div class="qualities__img">
          {{mixins.icon('guarantee')}}
        </div>
      </div>

      <div class="qualities__item">
        <div class="qualities__text">
          <h3>
            Скидка <br> на шиномонтаж.
          </h3>
          <p>
            При покупке шин <br> и дисков.
          </p>
        </div>
        <div class="qualities__img">
          {{mixins.icon('discount')}}
        </div>
      </div>

      <div class="qualities__item">
        <div class="qualities__text">
          <h3>
            Бесплатная <br> доставка.
          </h3>
          <p>
            При покупке колёс <br> в сборе.
          </p>
        </div>
        <div class="qualities__img">
          {{mixins.icon('box')}}
        </div>
      </div>
    </div>
  </div>
</div>
