<section class="selection">
  <div class="container">
    <div class="selection__grid">
      <div class="selection__block selection-block">
        <div class="selection-block__header" style="background-image: url('img/tyre.png')">
          <div class="selection-block__title">
            <h2>
              Подбор шин
            </h2>
            <p>
              Заполните поля для подбора товара.
            </p>
          </div>
          <div class="selection-block__tabs-nav">
            <button class="selection-block__button selection-block__button--active">
              По параметрам
            </button>
            <button class="selection-block__button">
              По авто
            </button>
          </div>
        </div>
        <div class="selection-block__main">
          <form class="selection-block__search search-form">
            <div class="search-form__row search-form__row--elems">
              <div class="search-form__elem">
                <label for="oneTiresWidth" class="search-form__title">
                  Ширина
                </label>
                <input type="text" id="oneTiresWidth" name="Ширина шин" class="search-form__result" readonly autocomplete="off">
                <ul class="search-form__list">
                  <li>
                    <a href="#">
                      5,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      5,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      9,0
                    </a>
                  </li>
                </ul>
              </div>
              <span>
                X
              </span>
              <div class="search-form__elem">
                <label for="oneTiresHeihtg" class="search-form__title">
                  Высота
                </label>
                <input type="text" id="oneTiresHeihtg" name="Высота шин" class="search-form__result" readonly autocomplete="off">
                <ul class="search-form__list">
                  <li>
                    <a href="#">
                      5,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      5,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      9,0
                    </a>
                  </li>
                </ul>
              </div>
              <span>
                R
              </span>
              <div class="search-form__elem">
                <label for="oneTiresDiameter" class="search-form__title">
                  Диаметр
                </label>
                <input type="text" id="oneTiresDiameter" name="Диаметр шин" class="search-form__result" readonly autocomplete="off">
                <ul class="search-form__list">
                  <li>
                    <a href="#">
                      5,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      5,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      9,0
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="search-form__row search-form__row--checkboxes">
              <div class="search-form__checkbox">
                <input type="checkbox" id="oneTiresAllWeather" name="Всесезонная">
                <label for="oneTiresAllWeather">Всесезонная</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="oneTiresSummer" name="Летняя">
                <label for="oneTiresSummer">Летняя</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="oneTiresStudded" name="Шипованные">
                <label for="oneTiresStudded">Шипованные</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="oneTiresWinter" name="Зимняя">
                <label for="oneTiresWinter">Зимняя</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="oneTiresNonStudded" name="Нешипованные">
                <label for="oneTiresNonStudded">Нешипованные</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="oneTiresRunOnFlat" name="Run on flat">
                <label for="oneTiresRunOnFlat">Run on flat</label>
              </div>
            </div>

            <div class="search-form__row search-form__row--bottons">
              <button type="submit" class="button button--send">
                Подобрать
              </button>
              <button type="reset" class="button button--reset">
                Сбросить
              </button>
              <a href="#" class="search-form__link">
                Значения, обозначения и характеристики подбора товара
              </a>
            </div>
          </form>
        </div>
        <div class="selection-block__main">
          <form class="selection-block__search search-form">
            <div class="search-form__row search-form__row--elems">
              <div class="search-form__elem">
                <label for="tiresWidth" class="search-form__title">
                  Ширина
                </label>
                <input type="text" id="tiresWidth" name="Ширина шин" class="search-form__result" readonly autocomplete="off">
                <ul class="search-form__list">
                  <li>
                    <a href="#">
                      5,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      5,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      9,0
                    </a>
                  </li>
                </ul>
              </div>
              <span>
                X
              </span>
              <div class="search-form__elem">
                <label for="tiresHeihtg" class="search-form__title">
                  Высота
                </label>
                <input type="text" id="tiresHeihtg" name="Высота шин" class="search-form__result" readonly autocomplete="off">
                <ul class="search-form__list">
                  <li>
                    <a href="#">
                      5,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      5,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      9,0
                    </a>
                  </li>
                </ul>
              </div>
              <span>
                R
              </span>
              <div class="search-form__elem">
                <label for="tiresDiameter" class="search-form__title">
                  Диаметр
                </label>
                <input type="text" id="tiresDiameter" name="Диаметр шин" class="search-form__result" readonly autocomplete="off">
                <ul class="search-form__list">
                  <li>
                    <a href="#">
                      5,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      5,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      9,0
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="search-form__row search-form__row--checkboxes">
              <div class="search-form__checkbox">
                <input type="checkbox" id="tiresAllWeather" name="Всесезонная">
                <label for="tiresAllWeather">Всесезонная</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="tiresSummer" name="Летняя">
                <label for="tiresSummer">Летняя</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="tiresStudded" name="Шипованные">
                <label for="tiresStudded">Шипованные</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="tiresWinter" name="Зимняя">
                <label for="tiresWinter">Зимняя</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="tiresNonStudded" name="Нешипованные">
                <label for="tiresNonStudded">Нешипованные</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="tiresRunOnFlat" name="Run on flat">
                <label for="tiresRunOnFlat">Run on flat</label>
              </div>
            </div>
            <div class="search-form__row search-form__row--bottons">
              <button type="submit" class="button button--send">
                Подобрать
              </button>
              <button type="reset" class="button button--reset">
                Сбросить
              </button>
              <a href="#" class="search-form__link">
                Значения, обозначения и характеристики подбора товара
              </a>
            </div>
          </form>
        </div>
      </div>
      <div class="selection__block selection-block">
        <div class="selection-block__header" style="background-image: url('img/rim.png')">
          <div class="selection-block__title">
            <h2>
              Подбор дисков
            </h2>
            <p>
              Заполните поля для подбора товара.
            </p>
          </div>
          <div class="selection-block__tabs-nav">
            <button class="selection-block__button selection-block__button--active">
              По параметрам
            </button>
            <button class="selection-block__button">
              По авто
            </button>
          </div>
        </div>
        <div class="selection-block__main">
          <form class="selection-block__search search-form">
            <div class="search-form__row search-form__row--elems">
              <div class="search-form__elem">
                <label for="firstRimsWidth" class="search-form__title">
                  Ширина диска
                </label>
                <input type="text" id="firstRimsWidth" name="Ширина шин" class="search-form__result" readonly autocomplete="off">
                <ul class="search-form__list">
                  <li>
                    <a href="#">
                      5,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      5,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      9,0
                    </a>
                  </li>
                </ul>
              </div>
              <span>
                X
              </span>
              <div class="search-form__elem">
                <label for="firstRimsHeihtg" class="search-form__title">
                  Высота
                </label>
                <input type="text" id="firstRimsHeihtg" name="Высота шин" class="search-form__result" readonly autocomplete="off">
                <ul class="search-form__list">
                  <li>
                    <a href="#">
                      5,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      5,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      9,0
                    </a>
                  </li>
                </ul>
              </div>
              <span>
                R
              </span>
              <div class="search-form__elem">
                <label for="firstRimsDiameter" class="search-form__title">
                  Диаметр
                </label>
                <input type="text" id="firstRimsDiameter" name="Диаметр шин" class="search-form__result" readonly autocomplete="off">
                <ul class="search-form__list">
                  <li>
                    <a href="#">
                      5,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      5,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      9,0
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="search-form__row search-form__row--checkboxes">
              <div class="search-form__checkbox">
                <input type="checkbox" id="firstRimsAllWeather" name="Всесезонная">
                <label for="firstRimsAllWeather">Всесезонная</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="firstRimsSummer" name="Летняя">
                <label for="firstRimsSummer">Летняя</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="firstRimsStudded" name="Шипованные">
                <label for="firstRimsStudded">Шипованные</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="firstRimsWinter" name="Зимняя">
                <label for="firstRimsWinter">Зимняя</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="firstRimsNonStudded" name="Нешипованные">
                <label for="firstRimsNonStudded">Нешипованные</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="firstRimsRunOnFlat" name="Run on flat">
                <label for="firstRimsRunOnFlat">Run on flat</label>
              </div>
            </div>
            <div class="search-form__row search-form__row--bottons">
              <button type="submit" class="button button--send">
                Подобрать
              </button>
              <button type="reset" class="button button--reset">
                Сбросить
              </button>
              <a href="#" class="search-form__link">
                Значения, обозначения и характеристики подбора товара
              </a>
            </div>
          </form>
        </div>
        <div class="selection-block__main">
          <form class="selection-block__search search-form">
            <div class="search-form__row search-form__row--elems">
              <div class="search-form__elem">
                <label for="rimsWidth" class="search-form__title">
                  Ширина
                </label>
                <input type="text" id="rimsWidth" name="Ширина шин" class="search-form__result" readonly autocomplete="off">
                <ul class="search-form__list">
                  <li>
                    <a href="#">
                      5,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      5,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      9,0
                    </a>
                  </li>
                </ul>
              </div>
              <span>
                X
              </span>
              <div class="search-form__elem">
                <label for="rimsHeihtg" class="search-form__title">
                  Высота диска
                </label>
                <input type="text" id="rimsHeihtg" name="Высота шин" class="search-form__result" readonly autocomplete="off">
                <ul class="search-form__list">
                  <li>
                    <a href="#">
                      5,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      5,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      9,0
                    </a>
                  </li>
                </ul>
              </div>
              <span>
                R
              </span>
              <div class="search-form__elem">
                <label for="rimsDiameter" class="search-form__title">
                  Диаметр
                </label>
                <input type="text" id="rimsDiameter" name="Диаметр шин" class="search-form__result" readonly autocomplete="off">
                <ul class="search-form__list">
                  <li>
                    <a href="#">
                      5,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      5,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      6,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      7,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,0
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      8,5
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      9,0
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="search-form__row search-form__row--checkboxes">
              <div class="search-form__checkbox">
                <input type="checkbox" id="rimsAllWeather" name="Всесезонная">
                <label for="rimsAllWeather">Всесезонная</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="rimsSummer" name="Летняя">
                <label for="rimsSummer">Летняя</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="rimsStudded" name="Шипованные">
                <label for="rimsStudded">Шипованные</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="rimsWinter" name="Зимняя">
                <label for="rimsWinter">Зимняя</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="rimsNonStudded" name="Нешипованные">
                <label for="rimsNonStudded">Нешипованные</label>
              </div>
              <div class="search-form__checkbox">
                <input type="checkbox" id="rimsRunOnFlat" name="Run on flat">
                <label for="rimsRunOnFlat">Run on flat</label>
              </div>
            </div>
            <div class="search-form__row search-form__row--bottons">
              <button type="submit" class="button button--send">
                Подобрать
              </button>
              <button type="reset" class="button button--reset">
                Сбросить
              </button>
              <a href="#" class="search-form__link">
                Значения, обозначения и характеристики подбора товара
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
