.icon-box-map {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-box {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-car-wash {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-comparing {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
.icon-discount {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-guarantee {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.icon-lock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shopping-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-snowflake {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-studded {
  width: 1.13em;
  height: 1em;
  fill: #090509;
}
.icon-wheel {
  width: 1em;
  height: 1em;
  fill: initial;
}
